@font-face {
    font-family: museo-sans;
    src: url(/font/museo-sans-300-webfont.96dd56ebb50aa0150f6630360d8d69cf.woff2);
    font-weight: 300;
   
}
@font-face {
    font-family: museo-sans ;
    src: url(/font/museo-sans-500-webfont.5d9883d92e2eaa724e4e6beb0ef6728a.woff2);
    font-weight: 500;
}
@font-face {
    font-family: museo-sans ;
    src: url(/font/museo-sans-700-webfont.b125dc012841fa8a23b98c37499ca5e8.woff2);
    font-weight: 700;
}
@font-face {
    font-family: museo-sans;
    src: url(/font/museo-sans-300-webfont.96dd56ebb50aa0150f6630360d8d69cf.woff2);
    font-weight: 300;
    font-style: italic;
   
}
html{
    font-family: museo-sans, sans-serif;
    font-weight: 300;
}
@font-face {          
    font-family: ico;
    src: url(/font//gb-icon-font.aff6da928e14924cf7d53b99aa68fc6e.woff2);
}
.icon{                 
    font-family: ico;
}
